<header>
    <h1>Tabela</h1>
    <p>de valores</p>
</header>
<!-- <main>
    <p>Olá, eu sou a Ana</p>
    <p>Sou Nail Designer e trabalho com alongamento com fibra de vidro, gel na tips, esmaltação e afins
    </p>
    <p>Me chame no whatsapp pelo link fale comigo ali em cima e vamos marcar seu horário</p>
</main> -->

<app-valor
    nome="Alongameto de fibra de vidro"
    valor="R$ 250,00"
></app-valor>

<app-valor
    nome="Alongamento na Tips"
    valor="R$ 230,00"
></app-valor>

<app-valor
    nome="Esmaltação em gel"
    valor="R$ 25,00"
></app-valor>

<app-valor
    nome="Unha encapsulada"
    valor="R$ 25,00"
></app-valor>

<app-valor
    nome="Manicure"
    valor="R$ 25,00"
></app-valor>

<app-valor
    nome="Pedicure"
    valor="R$ 25,00"
></app-valor>

<app-valor
    nome="Alongamento de fibra quebrado"
    valor="R$ 5,00"
></app-valor>

<!-- <section class="whats">
    <img src="https://www.freepnglogos.com/uploads/whatsapp-logo-transparent-png-21.png" />
</section> -->

<section class="footer">
    <section class="faleComigo">
        <p>Suas unhas merecem esse cuidado especial!</p>
        <a href="https://api.whatsapp.com/send?phone=5544998264240&text=Ol%C3%A1,%20gostaria%20de%20saber%20mais%20sobre%20as%20unhas%20e%20agendar%20um%20hor%C3%A1rio!"
        target="_blank">Fale comigo</a>
        <h1>Ana Nail Designer</h1>
    </section>
    <img src="../../../assets/images/nail-picture-56ces1uiwxif5lx9.jpg" />
</section>