body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./app/20594044.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 190vh;
}

